[mysqld]
# 1.6GB 服务器极限压缩
innodb_buffer_pool_size     = 64M
innodb_log_buffer_size      = 2M
innodb_flush_log_at_trx_commit = 2
max_connections             = 10
thread_cache_size           = 2
tmp_table_size              = 8M
max_heap_table_size         = 8M
table_open_cache            = 100
performance_schema          = OFF
innodb_doublewrite          = OFF
innodb_flush_method         = O_DIRECT
skip-log-bin

# ngram 全文索引配置
ngram_token_size=2
ft_min_word_len=1
